In [19]:
import pandas as pd
import numpy as np
import sys
import os

In [57]:
path = os.path.join(sys.path[0], "data_buddha.csv")
print(path)

/Users/damiankozakiewicz/PythonProjects/randomstuff/buddhalifespan/data_buddha.csv

In [58]:
df = pd.read_csv(path, sep=";")
df = df.drop("Order", axis=1)
df.head

<bound method NDFrame.head of      Lifespan
0   1391-1474
1   1475-1542
2   1543-1588
3   1589-1617
4   1617-1682
5   1682-1706
6   1708-1757
7   1758-1804
8   1805-1815
9   1816-1837
10  1838-1856
11  1856-1875
12  1876-1933
13  1935-2022>

In [73]:
df["lifespan"]= df["Lifespan"].str.split("-", 1)
df = df.drop("Lifespan", axis=1)
df

        lifespan
0   [1391, 1474]
1   [1475, 1542]
2   [1543, 1588]
3   [1589, 1617]
4   [1617, 1682]
5   [1682, 1706]
6   [1708, 1757]
7   [1758, 1804]
8   [1805, 1815]
9   [1816, 1837]
10  [1838, 1856]
11  [1856, 1875]
12  [1876, 1933]
13  [1935, 2022]

In [101]:
for lifespan in df.lifespan:
    print(lifespan)
    df["born"], df["died"] = lifespan

['1391', '1474']
['1475', '1542']
['1543', '1588']
['1589', '1617']
['1617', '1682']
['1682', '1706']
['1708', '1757']
['1758', '1804']
['1805', '1815']
['1816', '1837']
['1838', '1856']
['1856', '1875']
['1876', '1933']
['1935', '2022']